estructura basica de python y funciones
uso de sintaxis, operadores, condicional if-elif-else y bucles for-while

In [6]:
#sintaxis y variables
print("hola mundo")
#tenemos tipos de datos primitivios
#datos numericos (1,2,3,4,5)
#datos string ("texto", "palabras continuas") se usan comillas para definir
#datos float (1,2  3,0  5,9) son flotantes y llevan decimal
#datos decimal (0,1  0,99999) son decimales

numero=1
variable1= "hola"
variable2= "mundo"
print(variable1)
print(variable2)
print(variable1+variable2)

hola mundo
hola
mundo
holamundo

In [27]:
#maximo y minimo de una lista
min(40,20,10,1)

1

In [28]:
max(0.1, 0.2, 0.09, 0.9)

0.9

In [44]:
round(3.555)

4

In [45]:
round(2.2)

2

In [3]:
#operadores
x=10
y=20
sum =x+y
res =y-x
divresto =y/x
divexacta =y//x
mult =y*x
potencia =y**x
print(sum)
print(div)
print(divresto)
print(mult)
print(potencia)

30
2.0
2
200
10240000000000

In [7]:
#condicional IF-ELIF-ELSE
#nos sirve para ver si satisface
#una condicion, sino avanza a la siguiente opcion

x = 1 #declaramos una variable con valor 1

if x > 2 : #le decimos q X es mayor a 2, si es asi se imprime esta opcion
    print("x es mayor a 2")
else:      #si X no es mayor a 2 tomara esta opcion
    print("x no es mayor a 2")

x no es mayor a 2

In [15]:
nota = 6

if nota < 2 :
    print("su nota es deficiente")
elif nota > 5.9:
    print("aprobo con buena nota")
elif nota >= 4:
    print("aprobo apenas")
else: 
    print("no posee nota")

aprobo con buena nota

In [20]:
#funciones
#para crear una funcion es fijo el DEF nombre_funcion(parametro)

def suma(a):
    return a + 10
#aqui creamos la funcion suma, le decimos que los parametros siempre
#se les sumara +10
suma(5)

15

In [42]:
def suma(a):
    resultado = a+10
    print("el resultado es:")
    return resultado
suma(10)

el resultado es:

20

In [23]:
# una funcion dentro de una funcion
def sueldo(horas_trabajadas):
    return horas_trabajadas*10.000 
    
def bono_sueldo(horas_trabajadas):
    return sueldo(horas_trabajadas)+50.000

sueldo(40), bono_sueldo(40)

(400.0, 450.0)

In [25]:
#funcion con condicional IF-ELSE
def mesada(m):
    if m >= 100 :
        m= m+10
        return m
    else:
        print("no ahorro nada, no hay mesada")
mesada(90)

no ahorro nada, no hay mesada

listas, tuplas y diccionarios

In [49]:
#listas
dias=["lunes","martes","miercoles","jueves","viernes","sabado","domingo"]
print (dias[1])

martes

In [52]:
dias[6]="fomingo"
print (dias)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'fomingo']

In [53]:
del dias[1]
print (dias)

['lunes', 'miercoles', 'jueves', 'viernes', 'sabado', 'fomingo']

In [56]:
#metodo append y extend, los metodos se usan despues del .
#append es para 1 y extend es para varios
autos=["audi","ferrari","bmw"]
print(autos)
autos.append("mercedez")
print(autos)
autos.extend(["koeninsegg","porshe"])
print(autos)

['audi', 'ferrari', 'bmw']
['audi', 'ferrari', 'bmw', 'mercedez']
['audi', 'ferrari', 'bmw', 'mercedez', 'koeninsegg', 'porshe']

In [81]:
#insertar datos en una posicion especifica
#indicamos la posicion y el dato (posicion, dato)

letras=["a","b","c","d","f"]
letras.insert(4,"e")
print(letras)

['a', 'b', 'c', 'd', 'e', 'f']

In [58]:
#tomar datos necesarios entre rango ej 1:6 toma desde el 1 al 5
#tambien veremos el indice en el que se encuentra
autos[0:3]

2

In [59]:
autos.index("bmw")

2

In [61]:
#juntaremos 2 listas
motos=["ninja", "enduro", "city"]
lista_unida=[autos,motos]
lista_unida

[['audi', 'ferrari', 'bmw', 'mercedez', 'koeninsegg', 'porshe'],
 ['ninja', 'enduro', 'city']]

In [63]:
#ordenar una lista ya sea ascendente o descendente
#cuando es alreves se usa el reverse=True
autos.sort()
autos

['audi', 'bmw', 'ferrari', 'koeninsegg', 'mercedez', 'porshe']

In [64]:
autos.sort(reverse=True)
autos

['porshe', 'mercedez', 'koeninsegg', 'ferrari', 'bmw', 'audi']

TUPLAS
estas no se pueden modificar, agregar o eliminar los elementos
son estaticas y se usan con ()

In [66]:
x=(1,2,3)
y=(9,8,7)
print(x)
print(y)
#ahora creamos una lista compuesta
lista = [x,y]
print(lista)

(1, 2, 3)
(9, 8, 7)
[(1, 2, 3), (9, 8, 7)]

In [70]:
#ahora crearemos una funcion que devuelva una TUPLA
def area_cuadrado(x):
    A = x**2
    P = 4 * x
    print("area y perimetro:")
    return A, P
area_cuadrado(5)

area y perimetro:

(25, 20)

DICCIONARIOS
estos tienen una llave y un valor, se pueden modificar segun su llave
ademas estos son importantes ya que pueden mutar

In [74]:
diccionario={'k1':"gato",'k2':"perro",'k3':"pajaro"}
diccionario['k2']

'perro'

In [75]:
diccionario['k4']="peces"
print(diccionario)

{'k1': 'gato', 'k2': 'perro', 'k3': 'pajaro', 'k4': 'peces'}

In [76]:
diccionario['k4']="monos"
print(diccionario)

{'k1': 'gato', 'k2': 'perro', 'k3': 'pajaro', 'k4': 'monos'}

In [82]:
#eliminaremos una llave del diccionario
del diccionario['k3']
print(diccionario)

{'k1': 'gato', 'k2': 'perro', 'k4': 'monos'}

In [83]:
#unir diccionarios con metodo update
diccionario1={'nombre':'Patricio', 'edad':'28', 'profesion':'ingeniero'}
diccionario2={'nacimiento':'santiago','hijos':'1'}
diccionario1.update(diccionario2)
print(diccionario1)

{'nombre': 'Patricio', 'edad': '28', 'profesion': 'ingeniero', 'nacimiento': 'santiago', 'hijos': '1'}

In [85]:
#exploracion de datos de un diccionario
#podemos exploraros por sus llaves, valores o items
diccionario1.keys()
diccionario1.values()
diccionario1.items()

dict_items([('nombre', 'Patricio'), ('edad', '28'), ('profesion', 'ingeniero'), ('nacimiento', 'santiago'), ('hijos', '1')])